<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<!--BeforeSuite-->
<suite name="Selenium" verbose="1">
    <!--    BeforeTest-->
    <test name="Regression 1">
        <classes>
            <!--BeforeMethod-->
            <class name="org.prog.MyTest"/>
            <class name="org.prog.RegressionTest"/>
        </classes>
    </test>
    <!--    BeforeTest-->
    <test name="Regression 2">
        <classes>
            <!--BeforeMethod-->
            <class name="org.prog.MyAnotherTest"/>
            <class name="org.prog.AnotherRegressionTest"/>
        </classes>
    </test>
</suite>
        <!--AfterSuite-->